<!doctype html>
<html lang="en">

<head>
  <title>Sola</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="order-last" class="img" style="background-image: url(images/bg_1.jpg);">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="">
        <h1><a href="index.html" class="logo"><i class="far fa-bell"></i> Sola</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/attendance"><span class="fa fa-eye mr-3"></span> Attendance</a>
          </li>
          <li>
            <a href="/homework"><span class="fa fa-list mr-3"></span> Homework</a>
          </li>
          <li>
            <a href="/progress"><span class="fa fa-chart-bar mr-3"></span> Progress</a>
          </li>
          <li>
            <a href="/events"><span class="fa fa-calendar-alt mr-3"></span> Events</a>
          </li>
          <li>
            <a href="/messages"><span class="fa fa-envelope mr-3"></span> Messages</a>
          </li>
          <li>
            <a href="/logout"><span class="fa fa-sign-out-alt mr-3"></span> Sign Out</a>
          </li>
        </ul>


      </div>

    </nav>

    <!-- Page Content  -->

    <div id="content" class="p-4 p-md-5 pt-5">
      <div id="body">
        <div class="attendance-table">
            <table>
              <thead>
                <tr>
                  <th class="day"></th>
                  <th class="days">Monday</th>
                  <th class="days">Tuesday</th>
                  <th class="days">Wednesday</th>
                  <th class="days">Thursday</th>
                  <th class="days">Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="name">Zikre</td>
                  <td style="<% if (attendance[0].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[0].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="zikre"><%= attendance[0].attendance.Monday%></td>
                  <td style="<% if (attendance[0].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[0].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="zikre"><%= attendance[0].attendance.Tuesday%></td>
                  <td style="<% if (attendance[0].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[0].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>" class="zikre"><%= attendance[0].attendance.Wednesday%></td>
                  <td style="<% if (attendance[0].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[0].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>" class="zikre"><%= attendance[0].attendance.Thursday%></td>
                  <td style="<% if (attendance[0].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[0].attendance.Friday == 'absent'){ %> background-color: red <%  }%>" class="zikre"><%= attendance[0].attendance.Friday%></td>
                </tr>
                <tr>
                </tr>
                <tr>
                  <td class="name">Ken</td>
                  <td style="<% if (attendance[1].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[1].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="ken"><%= attendance[1].attendance.Monday%></td>
                  <td style="<% if (attendance[1].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[1].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="ken"><%= attendance[1].attendance.Tuesday%></td>
                  <td style="<% if (attendance[1].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[1].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>" class="ken"><%= attendance[1].attendance.Wednesday%></td>
                  <td style="<% if (attendance[1].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[1].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>" class="ken"><%= attendance[1].attendance.Thursday%></td>
                  <td style="<% if (attendance[1].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[1].attendance.Friday == 'absent'){ %> background-color: red <%  }%>" class="ken"><%= attendance[1].attendance.Friday%></td>
                </tr>
                <tr>
                  <td class="name">Sebastian</td>
                  <td style="<% if (attendance[2].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[2].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="sebastian"><%= attendance[2].attendance.Monday%></td>
                  <td style="<% if (attendance[2].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[2].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="sebastian"><%= attendance[2].attendance.Tuesday%></td>
                  <td style="<% if (attendance[2].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[2].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>" class="sebastian"><%= attendance[2].attendance.Wednesday%></td>
                  <td style="<% if (attendance[2].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[2].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>" class="sebastian"><%= attendance[2].attendance.Thursday%></td>
                  <td style="<% if (attendance[2].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[2].attendance.Friday == 'absent'){ %> background-color: red <%  }%>" class="sebastian"><%= attendance[2].attendance.Friday%></td>
                </tr>
                <tr>
                  <td class="name">Sam</td>
                  <td style="<% if (attendance[3].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[3].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="sam"><%= attendance[3].attendance.Monday%></td>
                  <td style="<% if (attendance[3].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[3].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="sam"><%= attendance[3].attendance.Tuesday%></td>
                  <td style="<% if (attendance[3].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[3].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>" class="sam"><%= attendance[3].attendance.Wednesday%></td>
                  <td style="<% if (attendance[3].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[3].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>" class="sam"><%= attendance[3].attendance.Thursday%></td>
                  <td style="<% if (attendance[3].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[3].attendance.Friday == 'absent'){ %> background-color: red <%  }%>" class="sam"><%= attendance[3].attendance.Friday%></td>
                </tr>
                <tr>
                  <td class="name">Eric</td>
                  <td style="<% if (attendance[4].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[4].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="eric"><%= attendance[4].attendance.Monday%></td>
                  <td style="<% if (attendance[4].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[4].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="eric"><%= attendance[4].attendance.Tuesday%></td>
                  <td style="<% if (attendance[4].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[4].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>" class="eric"><%= attendance[4].attendance.Wednesday%></td>
                  <td style="<% if (attendance[4].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[4].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>" class="eric"><%= attendance[4].attendance.Thursday%></td>
                  <td style="<% if (attendance[4].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[4].attendance.Friday == 'absent'){ %> background-color: red <%  }%>" class="eric"><%= attendance[4].attendance.Friday%></td>
                </tr>
                <tr>
                  <td class="name">Jessie</td>
                  <td style="<% if (attendance[5].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[5].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="jessie"><%= attendance[5].attendance.Monday%></td>
                  <td style="<% if (attendance[5].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[5].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="jessie"><%= attendance[5].attendance.Tuesday%></td>
                  <td style="<% if (attendance[5].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[5].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>" class="jessie"><%= attendance[5].attendance.Wednesday%></td>
                  <td style="<% if (attendance[5].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[5].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>" class="jessie"><%= attendance[5].attendance.Thursday%></td>
                  <td style="<% if (attendance[5].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[5].attendance.Friday == 'absent'){ %> background-color: red <%  }%>" class="jessie"><%= attendance[5].attendance.Friday%></td>
                </tr>
                <tr>
                  <td class="name">Asiah</td>
                  <td style="<% if (attendance[6].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[6].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="asiah"><%= attendance[6].attendance.Monday%></td>
                  <td style="<% if (attendance[6].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[6].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="asiah"><%= attendance[6].attendance.Tuesday%></td>
                  <td style="<% if (attendance[6].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[6].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>" class="asiah"><%= attendance[6].attendance.Wednesday%></td>
                  <td style="<% if (attendance[6].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[6].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>" class="asiah"><%= attendance[6].attendance.Thursday%></td>
                  <td style="<% if (attendance[6].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[6].attendance.Friday == 'absent'){ %> background-color: red <%  }%>" class="asiah"><%= attendance[6].attendance.Friday%></td>
                </tr>
                <tr>
                  <td class="name">Abbey</td>
                  <td style="<% if (attendance[7].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[7].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="abbey"><%= attendance[7].attendance.Monday%></td>
                  <td style="<% if (attendance[7].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[7].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="abbey"><%= attendance[7].attendance.Tuesday%></td>
                  <td style="<% if (attendance[7].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[7].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>" class="abbey"><%= attendance[7].attendance.Wednesday%></td>
                  <td style="<% if (attendance[7].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[7].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>" class="abbey"><%= attendance[7].attendance.Thursday%></td>
                  <td style="<% if (attendance[7].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[7].attendance.Friday == 'absent'){ %> background-color: red <%  }%>" class="abbey"><%= attendance[7].attendance.Friday%></td>
                </tr>
                <tr>
                  <td class="name">Nyah</td>
                  <td style="<% if (attendance[8].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[8].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="nyah"><%= attendance[8].attendance.Monday%></td>
                  <td style="<% if (attendance[8].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[8].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="nyah"><%= attendance[8].attendance.Tuesday%></td>
                  <td style="<% if (attendance[8].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[8].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>" class="nyah"><%= attendance[8].attendance.Wednesday%></td>
                  <td style="<% if (attendance[8].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[8].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>" class="nyah"><%= attendance[8].attendance.Thursday%></td>
                  <td style="<% if (attendance[8].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[8].attendance.Friday == 'absent'){ %> background-color: red <%  }%>" class="nyah"><%= attendance[8].attendance.Friday%></td>
                </tr>
                <tr>
                  <td class="name">Orson</td>
                  <td style="<% if (attendance[9].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[9].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="orson"><%= attendance[9].attendance.Monday%></td>
                  <td style="<% if (attendance[9].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[9].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="orson"><%= attendance[9].attendance.Tuesday%></td>
                  <td style="<% if (attendance[9].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[9].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>" class="orson"><%= attendance[9].attendance.Wednesday%></td>
                  <td style="<% if (attendance[9].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[9].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>" class="orson"><%= attendance[9].attendance.Thursday%></td>
                  <td style="<% if (attendance[9].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[9].attendance.Friday == 'absent'){ %> background-color: red <%  }%>" class="orson"><%= attendance[9].attendance.Friday%></td>
                </tr>
                <tr>
                  <td class="name">Ilunga</td>
                  <td style="<% if (attendance[10].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[10].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="ilunga"><%= attendance[10].attendance.Monday%></td>
                  <td style="<% if (attendance[10].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[10].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="ilunga"><%= attendance[10].attendance.Tuesday%></td>
                  <td style="<% if (attendance[10].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[10].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>"class="ilunga"><%= attendance[10].attendance.Wednesday%></td>
                  <td style="<% if (attendance[10].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[10].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>"class="ilunga"><%= attendance[10].attendance.Thursday%></td>
                  <td style="<% if (attendance[10].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[10].attendance.Friday == 'absent'){ %> background-color: red <%  }%>"class="ilunga"><%= attendance[10].attendance.Friday%></td>
                </tr>
                <tr>
                  <td class="name">Elmer</td>
                  <td style="<% if (attendance[11].attendance.Monday == 'present'){  %> background-color: green <% } else if (attendance[11].attendance.Monday == 'absent'){ %> background-color: red <%  }%>" class="elmer"><%= attendance[11].attendance.Monday%></td>
                  <td style="<% if (attendance[11].attendance.Tuesday == 'present'){  %> background-color: green <% } else if (attendance[11].attendance.Tuesday == 'absent'){ %> background-color: red <%  }%>" class="elmer"><%= attendance[11].attendance.Tuesday%></td>
                  <td style="<% if (attendance[11].attendance.Wednesday == 'present'){  %> background-color: green <% } else if (attendance[11].attendance.Wednesday == 'absent'){ %> background-color: red <%  }%>"class="elmer"><%= attendance[11].attendance.Wednesday%></td>
                  <td style="<% if (attendance[11].attendance.Thursday == 'present'){  %> background-color: green <% } else if (attendance[11].attendance.Thursday == 'absent'){ %> background-color: red <%  }%>"class="elmer"><%= attendance[11].attendance.Thursday%></td>
                  <td style="<% if (attendance[11].attendance.Friday == 'present'){  %> background-color: green <% } else if (attendance[11].attendance.Friday == 'absent'){ %> background-color: red <%  }%>"class="elmer"><%= attendance[11].attendance.Friday%></td>
                </tr>
              </tbody>
            </table>
            <% if (user.local.usertype === 'teacher') { %>
            <button type="submit" name="button" id="button">Submit</button>
            <button type="submit" name="button" id="buttonClear">Clear</button>
            <% } %>
        </div>
      </div>
    </div>
  </div>

  <script src="js/jquery.copy.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.copy.js"></script>
  <script src="attendance.js"></script>
</body>

</html>
